<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/b2btender">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/bcsf/fzw/login/model/TUser.hbm.xml</value>
				<value>com/bcsf/fzw/tender/model/TTender.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 登录配置 -->
	<bean id="userAction" class="com.bcsf.fzw.login.action.UserAction">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="userService" class="com.bcsf.fzw.login.service.UserServiceImpl">
		<property name="userDao" ref="TUserDAO"></property>
	</bean>
	
	<bean id="TUserDAO" class="com.bcsf.fzw.login.dao.TUserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 招标发布 -->
	<bean id="tenderAction" class="com.bcsf.fzw.tender.action.TTenderAction">
		<property name="tenderService" ref="tenderService"></property>
	</bean>
	
	<bean id="tenderService" class="com.bcsf.fzw.tender.service.TTenderServiceImpl">
		<property name="tenderDAO" ref="TTenderDAO"></property>
	</bean>
	
	<bean id="TTenderDAO" class="com.bcsf.fzw.tender.dao.TTenderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
</beans>